body {
    background-color:var(--main-white);
    margin:0 auto;
    overflow-x:hidden
}
.js-focus-visible:focus:not(.focus-visible) {
    outline:none
}
.container__body {
    margin:0 auto;
    width:90%
}
.title-block-section-container__body {
    align-items:center;
    display:flex;
    justify-content:space-between;
    margin-bottom:30px;
    margin-top:30px;
    position:relative;
    width:100%
}
.title-block-section-container__body:before {
    background:var(--main-gray);
    content:"";
    height:2px;
    left:0;
    position:absolute;
    top:18px;
    width:100vw;
    z-index:-1
}
.title-block-section__body {
    font-family:FuturaBookC;
    font-size:var(--h2);
    font-weight:400;
    margin-left:20%;
    position:relative;
    text-transform:uppercase;
    z-index:2
}
.title-block-section__body:before {
    background-color:var(--main-white);
    content:"";
    height:100%;
    left:-5%;
    position:absolute;
    width:110%;
    z-index:-1
}

@media (min-device-width:1700px) and (max-device-width: 10000px) {
    /* :root{
        --h1:2.2em;
        
        --h2:2em;
        
        --h3:1.8em;
        
        --h4:1.2em;
        
        --h5:1.8em;
        
        --p:1.4em;
        
        --p-nws:1.4em;
        
        --p-sp:1.4em;
        
        --tag:1em;
        
        --ln-b:1em;
        
        --a:1.5em;
        
        --a-sp:1.8em;
        
        --btn-pg:1.25em
    } */

    body{
        font-size:20px!important
    }

    .title-block-section-container__body:before {
        top:24px;
    }

}