.year-1__about-us {
    color:var(--dark-gray);
    font-size:var(--d-year);
    left:12%;
    position:absolute;
    top:4%
}
.bg-image-container-1__about-us {
    left:25%;
    min-height:100%;
    opacity:.4;
    position:absolute;
    top:3%;
    width:800px;
    z-index:-1
}
.bg-image-1__about-us {
    height:100%;
    -o-object-fit:cover;
    object-fit:cover;
    width:800px
}
.info-organization-1__about-us {
    -webkit-line-clamp:16;
    -webkit-box-orient:vertical;
    bottom:10%;
    display:-webkit-box;
    font-size:var(--p-nws);
    line-height:1.6;
    overflow:hidden;
    position:absolute;
    right:10%;
    text-align:justify;
    text-decoration:none;
    text-overflow:ellipsis;
    width:50%
}
.year-2__about-us {
    color:var(--dark-gray);
    font-size:var(--d-year);
    position:absolute;
    right:14%;
    top:2%
}
.bg-image-container-2__about-us {
    left:6%;
    min-height:100%;
    opacity:.4;
    position:absolute;
    top:2%;
    width:100%;
    z-index:-1
}
.bg-image-2__about-us {
    height:inherit;
    min-width:inherit;
    -o-object-fit:cover;
    object-fit:cover
}
.info-organization-2__about-us {
    -webkit-line-clamp:16;
    -webkit-box-orient:vertical;
    bottom:12%;
    display:-webkit-box;
    font-size:var(--p-nws);
    left:10%;
    line-height:1.6;
    overflow:hidden;
    position:absolute;
    text-align:justify;
    text-decoration:none;
    text-overflow:ellipsis;
    width:50%
}
.year-3__about-us {
    color:var(--dark-gray);
    font-size:var(--d-year);
    left:8%;
    position:absolute;
    top:0
}
.bg-image-container-3__about-us {
    left:12%;
    min-height:100%;
    opacity:.4;
    position:absolute;
    top:8%;
    width:100%;
    z-index:-1
}
.bg-image-3__about-us {
    height:inherit;
    min-width:inherit;
    -o-object-fit:cover;
    object-fit:cover
}
.info-organization-3__about-us {
    -webkit-line-clamp:16;
    -webkit-box-orient:vertical;
    bottom:10%;
    display:-webkit-box;
    font-size:var(--p-nws);
    line-height:1.6;
    overflow:hidden;
    position:absolute;
    right:10%;
    text-align:justify;
    text-decoration:none;
    text-overflow:ellipsis;
    width:50%
}
